.textarea {
    width: 900px;
    height: 250px;
    resize: none;
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 18px;
    border: 2px solid black;
}

.keyboard {
    margin: 0 auto;
    width: 943px;
    height: 257px;
    background-color: black;
    margin-top: 20px;
    border-radius: 7px;
}

.keyboard__keys {
    text-align: center;
    user-select: none;
}